/* Custom Light Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
p:empty,
label,
figure {
  margin: 0;
}

ul,
button,
p:empty {
  padding: 0;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

:focus {
  outline: none;
}
